.kglwSetlist {
  background: chartreuse;

  &-invalid {
    border: 1px solid red;
    background: #8008;
  }
}

.kglwSetlistProcessed {
  background: pink;
  border-radius: 0.5em;
  box-shadow: inset 1px 2px 3px #000a;
  cursor: help;

  &:hover {
    box-shadow: none;
  }
}

.kglwSetlistPopup {
  border-radius: 1rem;
  padding: 0.3rem 1rem;
  font-size: 0.9rem;
}
