.kglwSetlist {
  box-shadow: inset 1px 2px 3px #000a;
  padding: 1px;
  cursor: pointer;
}

.kglwSetlist-invalid {
  border: 1px solid red;
  background: #8008;
}

.kglwSetlist-processing {
  background: gray;
}

.kglwSetlist-processed {
  border-radius: 0.5em;
  cursor: help;
}
.kglwSetlist-processed:hover {
}
