.kglwSetlist {
  border: 1px solid #0E0a;
  border-radius: 0.33em;
  padding: 1px 3px;
  margin: 0 -1px;
  cursor: pointer;
}

.kglwSetlist-invalid {
  border: 1px dotted #E00a;
  background: #8008;
}

.kglwSetlist-processing {
  border-color: gray;
}

.kglwSetlist-processed {
  border-color: #00Ea;
  cursor: help;
}
.kglwSetlist-processed:hover {
}
